.container {
    text-align: center;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: #5C3A21; 
}

ul {
    list-style: none;
}


.main-header {
    background-color: #000000; 
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 0 10% 0 10%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    text-align: center;
}


.main-header .container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}


.main-header .container img {
 max-height: 80px; 
width: auto; 
}

.main-nav ul {
    display: flex;
    gap: 20px;
}

.main-nav a {
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
}

.main-nav a:hover {
    color: #000000;
    background-color: #ffffff; 
}